.stem-academy {
    font-size: 25px !important;
    font-weight: 650 !important;
    padding: 0 15% !important;
  }
  
  .text-emphasis {
      font-weight: 900 !important;
      font-style: italic !important;
  }

  