/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.meet-team .section-title {
  padding: 30px 0px;
  margin-bottom: 30px;
  width: 100%;
  background-image: url("../img/gradient.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.meet-team .section-title h2 {
  font-size: 50px;
}

.meet-team .section-title p {
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 0;
  color: #d5d6e0;
  text-align: center;
  margin-top: 0; 
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.meet-team .section-title hr {
  border: 1.5px solid #ffd966;
  margin: 0 33%;
}

.meet-team .box {
  padding: 0;
  padding-bottom: 75%;
  background-color: #434343;
  background-image: url("../img/meet-team.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.meet-team .box h3 {
  font-weight: 400;
  margin: 35px 0px 0px 35px;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: -5px 14px 10px rgba(0,0,0,0.75), -5px 14px 2px rgba(0,0,0,0.1), -5px 14px 30px rgba(0,0,0,0.1);
}

.meet-team .subteam .subteam-info {
  z-index: -3;
  position: absolute;
  background-color: red;
  width: 100%;
  height: 100%;
}

.meet-team .subteam:hover .subteam-info {
  transition: 0.3s;
  position: absolute;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
}

.meet-team .department-director {
  background-color: #434343;
  width: 90%;
  margin: 0 auto;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3.5rem;
}

.meet-team .department-director .director-image {
  background-image: url("../img/director.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.meet-team .department-director .director-image .director-picture {
  padding: 0;
  margin: 0;
  background-color: transparent !important;
}

.meet-team .department-director .director-description {
  padding-bottom: 20px;
}

.meet-team .department-director .director-description h2 {
  font-size: 30px;
  font-weight: bolder;
  color: #EFEFEF;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  letter-spacing: 0.1rem;
}

.meet-team .department-director .director-description h3 {
  font-size: 25px;
  font-weight: 300;
  text-transform: capitalize;
  color: #F6d264;
  margin-top: 0;
  margin-bottom: 15px;
  padding-top: 0;
  padding-bottom: 0;
  letter-spacing: 0.1rem;
}

.meet-team .department-director .director-description p {
  font-size: 20px;
  font-weight: 300;
  color: #F3F3f3;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  letter-spacing: 0.1rem;
}

.meet-team .department-members {
  width: 90%;
  margin: 0 auto;
}

.meet-team .department-members .member-title {
  background-color: #434343;
  padding: 20px 0px;
  font-size: 30px;
  font-weight: 800;
  color: #F6d264;
  margin-top: 0;
  margin-bottom: 2.5rem;
  letter-spacing: 0.1rem;
}

.meet-team .department-member {
  background-color: #434343;
  width: 20%;
  
}

.meet-team .department-member .member-role {
  background-color: #434343;
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin: 0;
  letter-spacing: 0.1rem;
}

.meet-team .department-member .role-person {
  background-color: #434343;
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  color: #F6d264;
  letter-spacing: 0.1rem;
  margin-top: 1.5rem!important;
}

.meet-team .department-director .member-image {
  background-image: url("../img/director.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.meet-team .department-director .member-image .member-picture  {
  padding: 0;
  margin: 0;
  background-color: transparent !important;
  width: 100% !important;
}


@media (max-width: 768px) {
  .meet-team .department-member {
    width: 100%;
  }
}
